<mat-card class="explication-card">
    <mat-card-header>
        <mat-card-title>The Titanic Dataset</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Titanic Dataset is a dataset composed the data of 891 passengers that were on the Titanic when it sank.<br>
            For each passenger, we have part or all of the following informations :
            <mat-list role="list">
                <mat-list-item role="listitem">Survived : if the passenger survived the sinking</mat-list-item>
                <mat-list-item role="listitem">Class : the class the passenger traveled in</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
            </mat-list>
            
        </p>
    </mat-card-content>
</mat-card>