<mat-tab-group mat-align-tabs="left">

    <mat-tab label="Overview"> 
        <app-overview-titanic-model-manager></app-overview-titanic-model-manager>
    </mat-tab>

    <mat-tab label="Model List">
        <ng-template matTabContent>
            <app-models [fromTable]="fromTable" [possibleVariables]="possibleVariables"></app-models>
        </ng-template>  
    </mat-tab>

    <mat-tab label="Train Model"> 
        <ng-template matTabContent>
            <app-model-training [fromTable]="fromTable"></app-model-training>
        </ng-template>
    </mat-tab>

    <mat-tab label="Validate Model"> 
        <ng-template matTabContent>
            <app-model-validation [fromTable]="fromTable"></app-model-validation>
        </ng-template>
    </mat-tab>
</mat-tab-group>
  
