<h1 mat-dialog-title>{{passenger.name | uppercase}}, n°{{passenger.passengerId}}</h1>
<div mat-dialog-content>
    <ul>
        <li>survived: {{passenger.survived}}</li>
        <li>class: {{passenger.class}}</li>
        <li>name: {{passenger.name}}</li>
        <li>sex: {{passenger.sex}}</li>
        <li>age: {{passenger.age}}</li>
        <li>sibSp: {{passenger.sibSp}}</li>
        <li>parCh: {{passenger.parCh}}</li>
        <li>ticket: {{passenger.ticket}}</li>
        <li>fare: {{passenger.fare}}</li>
        <li>cabin: {{passenger.cabin}}</li>
        <li>embarked: {{passenger.embarked}}</li>
    </ul>
</div>
