.explication-card {
    min-width: 120px;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
}

.principal-header {
    font-size: 35px;
}

.mat-card-content {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    text-justify: inter-word;
}