.message-card {
    margin-left: 20px;
    margin-right: 20px;
}

.message-item {
    font-size: 12px;
    margin: 5px;
    background-color: rgb(226, 226, 226);
    padding: 5px;
    border-radius: 5px;
    overflow-wrap: break-word
}

.wrapper {
    text-align: center;
}

.clear-button {
    margin: 10px auto;
}

.limited-height {
    height: 400px;
    overflow-y: scroll;
}