.message-card {
    margin-left: 20px;
    margin-right: 20px;
}

.message-item {
    font-size: 12px;
    margin: 5px;
    background-color: rgb(226, 226, 226);
}

.wrapper {
    text-align: center;
}