/* PatientDetailComponent's private CSS styles */
.full-width {
    width: 100%;
}

.patient-card {
    min-width: 120px;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
}


.mat-radio-button {
    display: block;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.principal-header {
    font-size: 35px;
}

.patient-creation-card {
    margin-bottom: 15px;
    overflow: scroll auto;
}
