<form [formGroup]="passengerForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="passenger-card">
        <mat-card-header>
            <mat-card-title class="principal-header">New Passenger</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            
            <mat-card class="passenger-creation-card">
                <mat-card-header>
                    <mat-card-title>Personal Information</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <!-- Left : Name and Age -->
                        <div class="col">
                            <!-- Name Field -->
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <mat-label>Passenger Name</mat-label>
                                        <input matInput placeholder="Enter a name" formControlName="name">
                                        <mat-error *ngIf="passengerForm.controls['name'].hasError('required')">
                                            Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Age Field -->
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <mat-label>Passenger Age</mat-label>
                                        <input type="number"
                                            matInput placeholder="Enter a number" 
                                            formControlName="age"
                                            min="0"
                                        >
                                        <mat-error *ngIf="passengerForm.controls['age'].hasError('required')">
                                            Age is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="passengerForm.controls['age'].hasError('min')">No negative values</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <!-- Right : Sex -->
                        <div class="col">
                            <mat-label>Passenger Sex</mat-label>
                            <mat-radio-group formControlName="sex">
                                <mat-radio-button value="male">Male</mat-radio-button>
                                <mat-radio-button value="female">Female</mat-radio-button>
                                <mat-radio-button [value]="">Other</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            
            <!-- Card : Embarkment Information -->
            <mat-card class="passenger-creation-card">
                <mat-card-header>
                    <mat-card-title>Embarkment Information</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- Ticket / Fare / Cabin -->
                    <div class="col">
                        <!-- Ticket -->
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Ticket Number</mat-label>
                                <input matInput placeholder="Enter a ticket number" formControlName="ticket">
                            </mat-form-field>
                        </div>
                        <!-- Fare -->
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Fare</mat-label>
                                <input type="number" min="0" matInput placeholder="Enter a price" formControlName="fare">
                            </mat-form-field>
                            <mat-error *ngIf="passengerForm.controls['fare'].hasError('min')">No negative values</mat-error>
                        </div>
                        <!-- Cabin -->
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Cabin Number</mat-label>
                                <input type="string" matInput placeholder="Enter a cabin number" formControlName="cabin">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Class / Port -->
                    <div class="row">
                        <!-- Class -->
                        <div class="col">
                            <mat-label>Passenger Class</mat-label>
                            <mat-radio-group formControlName="class">
                                <mat-radio-button [value]=1>First Class</mat-radio-button>
                                <mat-radio-button [value]=2>Second Class</mat-radio-button>
                                <mat-radio-button [value]=3>Third Class</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <!-- Port -->
                        <div class="col">
                            <mat-label>Port of Embarkation</mat-label>
                            <mat-radio-group formControlName="embarked">
                                <mat-radio-button value="C">Cherbourg</mat-radio-button>
                                <mat-radio-button value="Q">Queenstown</mat-radio-button>
                                <mat-radio-button value="S">Southampton</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            
            <!-- Card : Family Information -->
            <mat-card class="passenger-creation-card">
                <mat-card-header>
                    <mat-card-title>Family Information</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- parC / parCh -->
                    <div class="row">
                        <!-- sibSp -->
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input type="number" matInput placeholder="Siblings / Spouses aboard" formControlName="sibSp" min="0">
                                <mat-error *ngIf="passengerForm.controls['sibSp'].hasError('required')">
                                    Number of siblings / spouses aboard is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="passengerForm.controls['sibSp'].hasError('min')">No negative values</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- parCh -->
                        <div class="col">
                            <mat-form-field class="full-width">
                                <input type="number" matInput placeholder="Parents / Children aboard" formControlName="parCh" min="0">
                                <mat-error *ngIf="passengerForm.controls['parCh'].hasError('required')">
                                    Number of parents / children aboard is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="passengerForm.controls['parCh'].hasError('min')">No negative values</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Card : Survived -->
            <mat-card class="passenger-creation-card">
                <mat-card-header>
                    <mat-card-title>Did the passenger Survive ?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <mat-radio-group formControlName="survived">
                            <mat-radio-button [value]="1">Yes!</mat-radio-button>
                            <mat-radio-button [value]="0">No...</mat-radio-button>
                            <mat-radio-button [value]="">Unknown</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </mat-card-content>
            </mat-card>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="passengerForm.invalid">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>
