/* PassengersComponent's private CSS styles */

.passengers-list-card {
  min-width: 120px;
  margin: 20px auto;
  margin-left: 20px;
  margin-right: 20px;
}

.principal-header {
  font-size: 35px;
}
