<mat-card class="passengers-list-card">
    <mat-card-header>
        <mat-card-title class="principal-header">
            Passenger List
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-passenger-search></app-passenger-search>
        <mat-nav-list>
            <mat-list-item *ngFor="let passenger of passengers">
                <a matLine routerLink="/detail/{{passenger.Id}}">
                    {{passenger.Name}}
                </a>
                <button mat-icon-button title="delete passenger" (click)="delete(passenger)">
                    <mat-icon>delete</mat-icon>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>
