<mat-card class="passengers-list-card">
    <mat-card-header>
        <mat-card-title class="principal-header">
            Passenger List
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-passenger-search></app-passenger-search>
        <mat-paginator [length]="totalNum"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 50, 100, 300]"
              (page)="updateEvent($event)">
        </mat-paginator>
        <mat-nav-list>
            <mat-list-item *ngFor="let passenger of passengers; let isLast = last;" (click)="openDialog(passenger)">
                <span matLine>{{passenger.name}}</span>
                <button mat-icon-button title="delete passenger" (click)="delete(passenger)">
                    <mat-icon>delete</mat-icon>
                </button>
                <div *ngIf="!isLast">
                    <mat-divider></mat-divider>
                </div>
            </mat-list-item>
        </mat-nav-list>
        <mat-paginator [length]="totalNum"
        [pageSize]="pageSize"
        [pageSizeOptions]="[10, 50, 100, 300]"
        (page)="updateEvent($event)">
  </mat-paginator>
    </mat-card-content>
</mat-card>
