<form class="full-width">
  <mat-form-field class="full-width">
    <mat-label>Search a passenger</mat-label>
    <input matInput
          placeholder="Enter a name"
          #searchBox id="search-box" 
          (input)="search(searchBox.value)"
          [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let passenger of passengers$ | async" [value]="passenger">
        <a class="passenger-autocomplete" routerLink="/detail/{{passenger.Id}}">
          {{passenger.Name}}
        </a>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>