<form class="full-width">
  <mat-form-field class="full-width">
    <mat-label>Search a passenger</mat-label>
    <input matInput
          placeholder="Enter a name"
          #searchBox id="search-box" 
          (input)="search(searchBox.value)">
  </mat-form-field>
  <mat-nav-list>
    <mat-list-item *ngFor="let passenger of passengers$ | async" (click)="openDialog(passenger)"  class="drop-down-box">
      <span matLine>n°{{passenger.passengerId}}: {{passenger.name}}</span>
    </mat-list-item>
  </mat-nav-list>

</form>