/* PassengerSearch private styles */
.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.passenger-text-autocomplete {
  color: #000;
  text-decoration: none;
}
.passenger-autocomplete {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  margin: 5px;
}

.modify-button {
  float: right;
  display: flex;
}