<div *ngIf="passenger">
    <h2>{{passenger.Name | uppercase}} Details</h2>
    <div><span>id: </span>{{passenger.Id}}</div>
    <div><span>Survived: </span>{{passenger.Survived}}</div>
    <div><span>Class: </span>{{passenger.Pclass}}</div>
    <div><span>Sex: </span>{{passenger.Sex}}</div>
    <div><span>Age: </span>{{passenger.Age}}</div>
    <div><span>Siblings/Spouse: </span>{{passenger.SibSp}}</div>
    <div><span>Parch: </span>{{passenger.Parch}}</div>
    <div><span>Ticket: </span>{{passenger.Ticket}}</div>
    <div><span>Fare: </span>{{passenger.Fare}}</div>
    <div><span>Cabin: </span>{{passenger.Cabin}}</div>
    <div><span>Embarked: </span>{{passenger.Embarked}}</div>
</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
