.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;
}

.toggle {
  margin-left: auto; 
  margin-right: 0; 
}

.dataset-name {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.dataset-button {
  margin-left: 5px;
  margin-right: 5px;
}