.runs-list-card {
    min-width: 120px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .overflow {
    overflow-x: scroll;
  }
  
  .principal-header {
    font-size: 35px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .mat-table {
    overflow-x: scroll;
  }
  
  .mat-cell,
  .mat-header-cell {
    padding: 0px 10px;
    line-break: unset;
    white-space: nowrap; 
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
  
  .align-middle {
    color: #ccc;
    text-align: center;
  }

  .spinner {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }