<mat-sidenav-container class="sidenav-container">
    <!-- Sidenav menu -->
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
  
      <mat-toolbar>Menu</mat-toolbar>
    
      <mat-nav-list>
        <a mat-list-item routerLink="titanic/dataset">Dataset Presentation</a>
        <a mat-list-item routerLink="titanic/ml/management">Model Manager</a>
        <a mat-list-item routerLink="titanic/ml/predictions">Make Predictions</a>
      </mat-nav-list>
  
      <mat-toolbar>Messages</mat-toolbar>
      <!-- Showing SQL queries -->
      <app-messages></app-messages>
  
    </mat-sidenav>
  
    <mat-sidenav-content>
  
      <!-- Toolbar with title and menu button if screen to small -->
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Integrated ML Demo: Titanic Dataset</span>
      </mat-toolbar>
  
      <!-- Components (actual site) -->
      <router-outlet></router-outlet>
  
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  