<!-- Train a model -->
<mat-card class="runs-list-card">
    <mat-card-header>
        <mat-card-title class="principal-header">
            Train a Model
        </mat-card-title>
    </mat-card-header>

    
    <mat-card-content>

        <form [formGroup]="runForm" novalidate>   
            <!-- Provider -->
            <div class="row" style="margin-bottom: 10px;">
                <p> Provider:
                    <mat-button-toggle-group formControlName="MLconfig" aria-label="Font Style" style="margin-left: 10px;">
                        <mat-button-toggle value="%AutoML">AutoML</mat-button-toggle>
                        <mat-button-toggle value="%H2O">H2O</mat-button-toggle>
                        <mat-button-toggle value="DataRobotConfig">DataRobot</mat-button-toggle>
                    </mat-button-toggle-group>
                    <ng-container *ngIf="runForm.value.MLconfig === 'DataRobotConfig'">
                        <button mat-icon-button (click)="openDRDialog()">
                            <mat-icon>
                                edit
                            </mat-icon>
                        </button>
                        <a mat-icon-button color="primary" href="https://app2.datarobot.com" target="_blank">
                            <mat-icon>
                                open_in_new
                            </mat-icon>
                        </a>
                    </ng-container>
                </p>
            </div>
            <!-- Model / runName selection -->
            <div class="row">
                <!-- Model selection -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Model to train</mat-label>
                        <mat-select formControlName="modelName" (selectionChange)="defaultTrainingName()">
                            <mat-option>--</mat-option>
                            <div *ngIf="models$ | async as models">
                                <mat-option *ngFor="let model of models" [value]="model.modelName">{{model.modelName}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- Training run name -->
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Run Name (must be unique)</mat-label>
                        <input matInput placeholder="Enter a name" formControlName="runName">
                        <mat-error *ngIf="runForm.controls['runName'].hasError('required')">
                            Run Name is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="runForm.controls['runName'].hasError('pattern')">
                            No white spaces please
                        </mat-error>
                    </mat-form-field>        
                </div>    
            </div>
            <div class="row">
                <p style="text-align: center;">
                    Percentage of the table used for training: {{runForm.value.tableSelection}}% (Lines 1 to {{((runForm.value.tableSelection / 100) * nbOfIds) | number: '1.0-0' }})
                </p>
                <mat-slider
                    thumbLabel
                    formControlName="tableSelection"
                    step="1"
                    min="0"
                    [max]="100"
                    aria-label="units">
                </mat-slider>
            </div>
        </form>
    </mat-card-content>
    
    <mat-card-actions>
        <div class="row">
            <button mat-raised-button color="primary" [disabled]="runForm.invalid || waiting" (click)="onSubmit()">Submit</button>
            <div *ngIf="waiting" class="spinner">
                <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
            </div>
        </div>
    </mat-card-actions>
    
</mat-card>

<!-- List of runs -->
<mat-card class="runs-list-card">

    <mat-card-header>
        <mat-card-title class="principal-header">
            Training Runs
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div *ngIf="runs$ | async as runs">
            <div class="overflow">
                <table mat-table [dataSource]="runs.slice().reverse()" class="mat-table">
                    
                    <!-- Name column is sticky -->
                    <ng-container matColumnDef="modelName" sticky>
                        <th mat-header-cell *matHeaderCellDef>modelName</th> 
                        <td mat-cell *matCellDef="let run"> {{run["modelName"]}} </td>
                    </ng-container> 
                    
                    <!-- Loop over the rest of the columns -->
                    <ng-container [matColumnDef]="column" *ngFor="let column of loopColumns">
                        <th mat-header-cell *matHeaderCellDef>{{column}}</th>
                        <td mat-cell *matCellDef="let run"> {{run[column]}} </td>
                    </ng-container> 

                     <!-- Added sticky actions column to see log -->
                     <ng-container matColumnDef="log" stickyEnd>
                        <th mat-header-cell  *matHeaderCellDef>Log</th>
                        <td mat-cell *matCellDef="let run" >
                            <button mat-icon-button title="see log" (click)="log(run.trainingRunName)">
                                <mat-icon>subject</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div> 
        <!-- In case of no runs to show -->
        <ng-template #isEmpty>
            <div class="align-middle">No runs to show yet.</div>
        </ng-template>       
    </mat-card-content>

</mat-card>
